body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    background: #fffbed;
}

.container {
    max-width: 1210px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.header {
    padding: 10px 0;
    margin-bottom: 20px;
    border-top: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
}

.headerContainer{
    display: flex;
}

.nav-header {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-header li {
    display: inline-block;
    margin-right: 20px;
}

.nav-header a {
    text-decoration: none;
    color: #292929;
}

.logo {
    display: block;
    text-decoration: none;
    width: 100px;
}

.logo img {
    display: block;
    width: 100%;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0 0 50px 0;
    border: 1px solid #e7e7e7;
    border-radius: 6px;
    background: #fff;
}

.list li {
    padding: 12px 0 10px 16px;
    border-bottom: 1px solid #e7e7e7;
}

.list li :last-child {
    border: none;
}

.list a {
    text-decoration: none;
    font-size: 16px;
    line-height: 150%;
    color: #292929;
}

.teaCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 15px;
}

.cart {
    display: grid;
}

.img{
    grid-column: 1/2;
    grid-row: 1/2;
}

.img img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.cartInfo {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 52.6%, rgba(0, 0, 0, 0.72) 100%);
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    align-content: end;
    justify-content: start;
    padding: 10px 14px;
}

.cardTitle {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    margin: 0;
}

.linkArrow {
    color: #fd9339;
    text-decoration: none;
}

.footer {
    margin-top: 60px;
    background: #fff;
    padding: 38px 0;
}

.address {
    display: flex;
    justify-content: center;
}

.address a {
    text-decoration: none;
   color: #292929;
}